@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a,
ul,
li,
span,
pre,
code {
    animation: fadelineup 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes fadelineup {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    20% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.8;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}